.homePage {
    border: groove 1em var(--titlecolor);
    border-radius: 2rem;
    width: 94vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2, h3 {
    color: var(--titlecolor);
    text-shadow: 
    -1px -1px 0px #d09d9c, 
    1px -1px 0px #d09d9c, 
    -1px  1px 0px #d09d9c,
    1px  1px 0px #d09d9c;
    font-family: var(--secondaryfont);
    font-size: 3rem;
    text-align: center;
}

.welcome {
    margin: 1rem 43rem;
}

.homePic {
    width: 20vw;

}

ul {
    margin: 0 3rem;
}

p, li {
    font-family: var(--principalfont);
    color: var(--principalcolor);
    text-shadow: 
    -1px -1px 0px rgb(116, 55, 93), 
    1px -1px 0px rgb(116, 55, 93), 
    -1px  1px 0px rgb(116, 55, 93),
    1px  1px 0px rgb(116, 55, 93);
    font-size: 1.7rem;
    font-weight: bold;
    text-align: justify;
    margin: .5rem 3rem; 
}
li {
    list-style: none;
}