h2 {
    text-align: left;
}

.profileDescription {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 1rem;
}

.profileImg {
    width: 15vw;
}

.userInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0;
}

.profileDescription button {
    width: 25%;
    margin-bottom: 1rem;
}