.recipesContainer, .recipeCard {
    background-image: url(assets/bgimage.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipesContainer {
    border: groove 1em var(--titlecolor);  
    border-radius: 2rem;
    width: 94vw;
}

.recipeCard {
    border: solid 1rem var(--titlecolor);  
    border-radius: 2rem;
}

h4 {
    color: var(--detailscolor);
    text-shadow: 
    -1px -1px 0px #d09d9c, 
    1px -1px 0px #d09d9c, 
    -1px  1px 0px #d09d9c,
    1px  1px 0px #d09d9c;
    font-family: var(--secondaryfont);
    font-size: 1.8rem;
    text-align: start;
    margin-left: 1.5rem;
}

img {
    width: 25vw;
    border-radius: 2rem;
    margin: 1.5rem 0;
}

.ingredients {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    margin: 0 3rem; 
    text-shadow: 
    -1px -1px 0px rgb(116, 55, 93), 
    1px -1px 0px rgb(116, 55, 93), 
    -1px  1px 0px rgb(116, 55, 93),
    1px  1px 0px rgb(116, 55, 93);
}

li {
    color: var(--principalcolor);
    margin: 1rem 0;
    text-shadow: 
    -1px -1px 0px rgb(117, 31, 14), 
    1px -1px 0px rgb(117, 31, 14), 
    -1px  1px 0px rgb(117, 31, 14),
    1px  1px 0px rgb(117, 31, 14);
}

.show {
    display: contents;
}
.hide {
    display: none;
}

.userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    color: var(--principalcolor);
    font-family: var(--secondaryfont);
}

.userPhoto {
    width: 4rem;
    height: auto;
    border-radius: 50%;
    margin-right: 1rem;
}

.buttons {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;
    width: 70%;
    height: auto;
    font-size: 1.3rem;
}