.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    width: 97vw;
    height: 18vh;
    background-color: var(--titlecolor);
    border: groove 1em var(--bgcolor);  
    border-radius: 2rem;
}

h1 {
    color: var(--principalcolor);
    text-shadow: 
    -1px -1px 0px #d09d9c, 
    1px -1px 0px #d09d9c, 
    -1px  1px 0px #d09d9c,
    1px  1px 0px #d09d9c;
    margin-left: -6rem;
}

.links, h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-family: var(--principalfont);
    font-size: 2rem;
    width: 50%;
}

button, .miPerfil{
    font-family: var(--secondaryfont);
    text-transform: none;
    font-size: 1.8rem;
    width: 25vw;
    height: auto;
    margin: 0 1rem;
}
button:focus {
    outline: none;
}

.sinPerfil {
    display: none;
}