* {
  margin: 0;
  padding: 0;
  font-size: 62,5%;
  
}

body {
  width: 100vw;
  height: auto;
  overflow-x: hidden;
}

#root {
  --principalfont: "PT Sans", sans-serif;
  --secondaryfont: "Kanit", sans-serif;
  --bgcolor: #EFFFC8;
  --titlecolor: #E55934;
  --detailscolor: #85cb33;
  --disabled: #72ac30;
  --principalcolor: #6A4D51;
  --errormessage: #A22522;
  --successmessage: #A8C256 ;
}